{% extends "base.html" %}

{% block content %}
<h1>{{ taxonomy.name }}</h1>
<div class="list-shell">
  <ul class="post-list post-list-index">
  {% for term in terms %}
    <li>
      <span class="post-marker" aria-hidden="true">&raquo;</span>
      <a class="post-link" href="{{ term.permalink | safe }}">#{{ term.name }}</a>
      <span class="post-filler" aria-hidden="true"></span>
      <span class="post-date">{{ term.pages | length }} posts</span>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
