{% extends "base.html" %}

{% block content %}
{% set current_lang = lang | default(value=config.default_language) %}
<h1>{{ trans(key="tags_heading", lang=current_lang) }}</h1>
<div class="list-shell">
  <ul class="post-list post-list-index">
  {% for term in terms %}
    <li>
      <span class="post-marker" aria-hidden="true">&raquo;</span>
      <a class="post-link" href="{{ term.permalink | safe }}">#{{ term.name }}</a>
      <span class="post-filler" aria-hidden="true"></span>
      <span class="post-date">{{ term.pages | length }} {{ trans(key="posts_unit", lang=current_lang) }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
