{% set current_lang = config.default_language %}
{% if page %}
  {% set current_lang = page.lang %}
{% elif section %}
  {% set current_lang = section.lang %}
{% endif %}
{% if config.extra.header_nav %}
<div class="header-block">
  <a href="/" class="logo" aria-label="{{ config.title }}">
    <pre>   ___           _
  / _ \__  _____/ |
 | | | \ \/ / __| |
 | |_| |&gt;  &lt; (__| |
  \___//_/\_\___|_|</pre>
  </a>
  <nav aria-label="Main navigation">
    {% for nav_item in config.extra.header_nav %}
      <a href="{{ nav_item.url }}">
        {% set language_key = 'name_' ~ current_lang %}
        {{ nav_item[language_key] }}
      </a>
    {% endfor %}
    {% if config.generate_feeds %}
      <a href="{{ get_url(path='atom.xml', trailing_slash=false) }}">rss</a>
    {% endif %}
    <button id="theme-toggle" class="theme-toggle" type="button" aria-label="切换主题" data-light-label="切换到浅色模式" data-dark-label="切换到深色模式">theme</button>
  </nav>
</div>
{% endif %}
